body {
    cursor: url("https://blog.kakaocdn.net/dn/BQXpN/btq3qNR67Lg/8tx8tGzkOcr5BuX5dyIaKk/img.png"), auto;
    background: rgb(248,208,121);
    background: linear-gradient(180deg, rgba(248,208,121,1) 0%, rgba(255,208,133,1) 49%, rgba(254,152,123,1) 100%);
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.wrapper {
    position: relative;
    width: 100%;
}
.container {    
    position: relative;
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    &[data-scroll] {
        opacity: 0;
        will-change: transform, scale, opacity;
        transform: translateY(6rem) scale(0.93);
        transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &[data-scroll='in'] {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    &[data-scroll='out'] {
        opacity: 0;
    }

    .inner {
        width: 1400px;
        margin: auto;
    }
}

.wave-title {
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-size: 20px;
    margin-bottom: 40px;
}

.parallex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0;
    .rellax {
        width: 25%;
        // box-shadow: ;
        img {
            display: block;
            width: 100%;
        }
    }
}




.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }