// 탭 고정
.sticky {
  position: sticky !important;
  top: 0;
  z-index: 5;
}

// 스크롤 탭
.tab-menu-wrap {
  position: relative;
  width: 100%;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  background: #ffffff;
  .scrolling-tab-area {
    overflow-x: scroll;
    position: relative;
    width: 100%;
    .tab {
      width: max-content;
      display: inline-flex;
      align-items: center;
      white-space: normal;
      .tab-item {
        position: relative;
        flex-shrink: 0;
        margin: 10px 13px;
        box-sizing: border-box;
        span {
          display: block;
          font-size: 15px;
        }
        &:after {
          display: none;
        }
        &.active_tab {
          &:after {
            position: absolute;
            left: 0;
            bottom: -10px;
            display: block;
            clear: both;
            content: "";
            width: 100%;
            height: 2px;
            background: #000000;
          }
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &.type2 {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    .scrolling-tab-area {
      .tab {
        width: 100%;
        .tab-item {
          flex: 1;
          flex-shrink: 0;
          margin: 10px 0;
          text-align: center;
          padding: 0 10px;
        }
      }
    }
  }
}
