.rnb-wrap {
  overflow: hidden;
  position: relative;
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #ffffff;
  margin-left: auto;
}

.rnb-wrap .rnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding: 60px 20px 35px;
}

.rnb-wrap .rnb .monitoring-refresh {
  margin: 0 auto;
}

.rnb-wrap .rnb .rnb-btn-wrap li {
  position: relative;
  margin: 0 auto 55px;
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1.3px solid #f6f6f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.btn-msg {
  background-image: url("../img/icon/rnb/ic_blue_msg.svg");
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.btn-cart {
  background-image: url("../img/icon/rnb/ic_blue_cart.svg");
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.btn-time {
  background-image: url("../img/icon/rnb/ic_blue_timer.svg");
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.btn-option {
  background-image: url("../img/icon/rnb/ic_blue_setting.svg");
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.on {
  background-color: #3982f7;
  border: 1.3px solid #2068db;
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.on.btn-msg {
  background-image: url("../img/icon/rnb/ic_white_msg.svg");
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.on.btn-cart {
  background-image: url("../img/icon/rnb/ic_white_cart.svg");
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.on.btn-time {
  background-image: url("../img/icon/rnb/ic_white_timer.svg");
}

.rnb-wrap .rnb .rnb-btn-wrap li .rnb-btn.on.btn-option {
  background-image: url("../img/icon/rnb/ic_white_setting.svg");
}

.rnb-wrap .rnb .rnb-btn-wrap li .btn-name {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.03em;
  color: #222222;
  margin-top: 11px;
}

.rnb-wrap .rnb .rnb-btn-wrap li:last-child {
  margin-bottom: 0;
}

.rnb-wrap .rnb .btn-pin {
  width: 60px;
  height: 60px;
  background: url("../img/pin_off.png") center center no-repeat;
  background-size: cover;
}

.rnb-wrap .rnb .btn-pin.on {
  background: url("../img/pin_on.png") center center no-repeat;
  background-size: cover;
}

.rnb-depth2-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  display: none;
  width: calc(100% - 100px);
  min-width: 400px;
  height: 100%;
  white-space: nowrap;
  -webkit-box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #eeeeee;
}

.rnb-depth2-wrap .rnb-depth2-box {
  display: none;
  width: 100%;
  height: 100%;
}

.rnb-depth2-wrap .rnb-depth2-box .rnb-depth-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  padding: 30px 24px;
}

.rnb-depth2-wrap .rnb-depth2-box .rnb-depth-head .title {
  font-size: 24px;
}

.rnb-depth2-wrap .rnb-depth2-box .rnb-depth-head .btn-close {
  font-size: 20px;
  font-family: "NotoSansKR-Regular";
}

.rnb-depth2-wrap .rnb-depth2-box .rnb-depth-body {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 90px);
}

.rnb-depth2-wrap .rnb-depth2-box .rnb-depth-body::-webkit-scrollbar {
  display: none;
}

.rnb-depth2-wrap .rnb-depth2-box .messageDetailBox .cart-message-wrap {
  height: 100%;
}

.rnb-depth2-wrap .rnb-depth2-box .messageDetailBox .cart-message-wrap .cart-message-box {
  position: absolute;
  height: calc(100% - 246px);
}

.rnb-depth2-wrap .rnb-depth2-box .messageDetailBox .cart-message-wrap .cart-message-box .message-box-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox {
  overflow-y: scroll;
  background: #fafafa;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .member-tbl-wrap {
  padding: 40px 24px;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .member-tbl-num,
.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .member-tbl-time {
  font-size: 20px;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .member-tbl-ttl {
  width: auto;
  max-width: 60%;
  font-size: 20px;
  line-height: inherit;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .member-tbl-state {
  font-size: 20px;
  font-family: "NotoSansKR";
  line-height: inherit;
  margin: 18px 0 30px;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .partner-info-txt {
  font-size: 18px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .partner-info {
  width: 100%;
  margin-top: 27px;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .partner-info .proName {
  max-width: 50%;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .holeTime-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .holeTime-head .hole-time-txt {
  font-size: 20px;
  font-weight: bold;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .holeTime-head .hole-time-wide-view-btn-1 {
  font-size: 20px;
  margin-left: auto;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .hole-time.wrap {
  padding: 20px 24px 60px;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .hole-time-tbl-wrap .hole-time-flex-box .hole-time-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-size: 18px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .hole-time-tbl-wrap .hole-time-flex-box .hole-time-box {
  min-width: 167px;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .hole-time-tbl-wrap .hole-time-flex-box .holentime {
  font-size: 18px;
  height: 60px;
  border-bottom: 0.5px solid #cfcfcf;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .hole-time-tbl-wrap .hole-time-flex-box .holentime .hole-number {
  font-size: 18px;
  border-bottom: none;
  padding: 0;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .hole-time-tbl-wrap .hole-time-flex-box .holentime .hole-time {
  height: inherit;
  border-bottom: none;
  background: #ffffff;
}

.rnb-depth2-wrap .rnb-depth2-box .cartDetailBox .hole-time-tbl-wrap.row-type {
  margin-top: 30px;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse {
  padding: 0 24px;
  background: #fafafa;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 34px 0 30px;
  border-bottom: 4px solid #4d4d4d;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .cart-radio-wrap {
  margin-left: auto;
  width: 180px;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .cart-radio-wrap .selectBox {
  width: 180px;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .cart-radio-wrap .selectBox ul li {
  font-weight: normal;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-head .row-item {
  width: auto;
  padding: 0;
  background: #fafafa;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-head .row-item.course {
  background: #fafafa;
  font-weight: normal;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-head .row-item.hole {
  width: 54px;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-head .row-item.time {
  width: 128px;
  font-weight: normal;
  background: #fafafa;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  height: 78px;
  padding: 0 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.cart {
  width: 47px;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.course {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120px;
  font-weight: bold;
  background: #ffffff;
  padding: 0 5px;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.course strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-width: 60%;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1.2;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.course strong:last-child em:last-child {
  padding-right: 0;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.course strong:last-child em:last-child::after {
  display: none;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.course em {
  overflow: hidden;
  display: block;
  position: relative;
  max-width: 100%;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.course em:after {
  display: block;
  clear: both;
  content: '/';
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.hole {
  width: 47px;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .row-item.time {
  width: 136px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  background: #ffffff;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .tb-body {
  border-bottom: 1px solid #cfcfcf;
}

.rnb-depth2-wrap .rnb-depth2-box .selectCourse .course-flex-tb-wrap .tb-body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #cfcfcf;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption {
  height: 100%;
  padding: 40px 24px;
  background: #fafafa;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-name strong {
  display: block;
  font-size: 20px;
  margin-bottom: 14px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-name p {
  font-size: 18px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-btn {
  margin-left: auto;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-btn input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-btn label {
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 36px;
  background: #e9e9ea;
  display: block;
  border-radius: 50px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-btn label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-btn input:checked + label {
  background: #ffdc00;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-btn input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box .setting-btn label:active:after {
  width: 30px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box.fontControl .setting-name strong {
  margin-bottom: 0;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box.fontControl .fontControl-wrap {
  margin-left: auto;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box.fontControl .fontControl-wrap .selectBox {
  width: 130px;
  height: 38px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box.fontControl .fontControl-wrap .selectBox p input {
  font-size: 18px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box.fontControl .fontControl-wrap .selectBox ul {
  height: 128px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box.fontControl .fontControl-wrap .selectBox ul li {
  font-size: 18px;
}

.rnb-depth2-wrap .rnb-depth2-box .userOption .setting-box:last-child {
  margin-bottom: 0;
}

.rnb-depth2-wrap .rnb-depth2-box.open {
  display: block;
}

.rnb-depth2-wrap.open {
  display: block;
}

.rnb-depth2-wrap.widePopup {
  width: 1103px;
}

.rnb-depth2-wrap.widePopup .hole-time-tbl-wrap .hole-time-flex-box {
  min-width: auto;
}

.rnb-depth2-wrap.widePopup .cartDetailBox .hole-time-tbl-wrap.row-type .hole-time-flex-box .hole-time-box {
  width: 262px;
}

.rnb-depth2-wrap.widePopup .cartDetailBox .hole-time-tbl-wrap .hole-time-flex-box .hole-time-box {
  min-width: 210px;
}

.gutter.gutter-horizontal {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.splitter {
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 10px;
  height: 100%;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #f1f4f6;
  background-size: 4px;
  border: 1px solid #eeeeee;
  cursor: col-resize;
}

.message-typing-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 246px;
  background: #ffffff;
  border-top: 1px solid #eeeeee;
}

.message-typing-wrap .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 28px 24px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message-typing-wrap .tag-wrap {
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  background: #ffffff;
  border-bottom: 1.5px solid #eeeeee;
}

.message-typing-wrap .tag-wrap .tag-box {
  position: relative;
  width: 100%;
}

.message-typing-wrap .tag-wrap .tag-box.mention .select-tag {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 16px;
}

.message-typing-wrap .tag-wrap .tag-box.mention .select-tag .btn-tag {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
  color: #666666;
  border-bottom: 1.5px solid #eeeeee;
  border-radius: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 12px;
  margin-right: 10px;
}

.message-typing-wrap .tag-wrap .tag-box.mention .select-tag .btn-tag.on {
  background: #f1f4f6;
}

.message-typing-wrap .tag-wrap .tag-box.mention .select-tag::-webkit-scrollbar {
  display: block !important;
  background: #cccccc;
  height: 3px;
  border-radius: 10px;
}

.message-typing-wrap .tag-wrap .tag-box.mention .select-tag::-webkit-scrollbar-thumb {
  background: #ffcd00;
  height: 3px;
  border-radius: 10px;
}

.message-typing-wrap .tag-wrap .tag-box.mention .list-tag {
  display: none;
  overflow: hidden;
  height: 142px;
  max-height: 204px;
  background: #ffffff;
  border-top: 1.5px solid #eeeeee;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.message-typing-wrap .tag-wrap .tag-box.mention .list-tag .select-list {
  overflow-y: scroll;
  height: 100%;
  padding: 20px 24px;
}

.message-typing-wrap .tag-wrap .tag-box.mention .list-tag .select-list li {
  font-size: 18px;
  color: #000000;
  margin-bottom: 23px;
}

.message-typing-wrap .tag-wrap .tag-box.mention .list-tag .select-list li:last-child {
  margin-bottom: 0;
}

.message-typing-wrap .tag-wrap .tag-box.mention .list-tag.show {
  display: block;
}

.message-typing-wrap .tag-wrap.show {
  display: block;
}

.message-typing-wrap .message-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.message-typing-wrap .message-wrap .input-message {
  padding: 0;
  height: 100%;
  max-height: 136px;
}

.message-typing-wrap .message-wrap .input-message .selectText,
.message-typing-wrap .message-wrap .input-message .messageText {
  font-size: 18px;
  word-break: break-all;
  white-space: normal;
}

.message-typing-wrap .message-wrap .message-send-btn {
  position: relative;
  width: 26px;
  height: 26px;
}

.message-typing-wrap .message-function-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.message-typing-wrap .message-function-wrap .btn-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 88px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 12px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1.5px solid #eeeeee;
  border-radius: 10px;
  color: #666666;
}

.message-typing-wrap .message-function-wrap .btn-function .icon-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  margin-right: 4px;
}

.message-typing-wrap .message-function-wrap .btn-function.mention .icon-box {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='21' viewBox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.96977 20.2151C10.7151 20.2151 12.2616 19.8174 13.7419 18.9779L13.1012 17.5198C12.0186 18.1384 10.6047 18.5802 9.16861 18.5802C5.03721 18.5802 1.81163 15.9733 1.81163 11.0907C1.81163 5.3686 6.07558 1.63488 10.4279 1.63488C15.0674 1.63488 17.2988 4.63953 17.2988 8.52791C17.2988 11.5767 15.5977 13.4326 14.0512 13.4326C12.7698 13.4326 12.3279 12.593 12.7698 10.7593L13.8081 5.65581H12.1733L11.864 6.67209H11.8198C11.3779 5.83256 10.693 5.45698 9.85349 5.45698C6.98139 5.45698 4.99302 8.55 4.99302 11.3116C4.99302 13.5872 6.3186 14.8907 8.08605 14.8907C9.14651 14.8907 10.3395 14.1616 11.0907 13.2116H11.157C11.3558 14.4488 12.4384 15.0895 13.8081 15.0895C16.1721 15.0895 19 12.836 19 8.43954C19 3.44651 15.7523 0 10.6267 0C4.90465 0 0 4.4186 0 11.1791C0 17.1442 4.06512 20.2151 8.96977 20.2151ZM8.59419 13.2116C7.66628 13.2116 6.9814 12.6151 6.9814 11.1791C6.9814 9.41163 8.10814 7.15814 9.89767 7.15814C10.5384 7.15814 10.9581 7.42326 11.3558 8.08605L10.693 11.864C9.89767 12.836 9.23488 13.2116 8.59419 13.2116Z' fill='%23666666'/%3E%3C/svg%3E");
}

.message-typing-wrap .message-function-wrap .btn-function.recommend .icon-box {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.96557 16.2872L3.68671 16.4932L3.7906 16.1296L3.56003 15.8299L2.96557 16.2872ZM2.33307 18.5009L1.61193 18.2949H1.61193L2.33307 18.5009ZM3.0844 19.1245L2.74899 18.4536H2.74899L3.0844 19.1245ZM4.93411 18.1996L5.37399 17.5922L5.00556 17.3254L4.5987 17.5288L4.93411 18.1996ZM19.25 10.5C19.25 15.3325 15.3325 19.25 10.5 19.25V20.75C16.1609 20.75 20.75 16.1609 20.75 10.5H19.25ZM10.5 1.75C15.3325 1.75 19.25 5.66751 19.25 10.5H20.75C20.75 4.83908 16.1609 0.25 10.5 0.25V1.75ZM1.75 10.5C1.75 5.66751 5.66751 1.75 10.5 1.75V0.25C4.83908 0.25 0.25 4.83908 0.25 10.5H1.75ZM3.56003 15.8299C2.42469 14.354 1.75 12.5068 1.75 10.5H0.25C0.25 12.8491 1.04114 15.0155 2.37111 16.7445L3.56003 15.8299ZM3.05421 18.707L3.68671 16.4932L2.24443 16.0811L1.61193 18.2949L3.05421 18.707ZM2.74899 18.4536C2.9176 18.3693 3.106 18.5257 3.05421 18.707L1.61193 18.2949C1.30516 19.3686 2.42106 20.2947 3.41981 19.7953L2.74899 18.4536ZM4.5987 17.5288L2.74899 18.4536L3.41981 19.7953L5.26952 18.8704L4.5987 17.5288ZM10.5 19.25C8.58435 19.25 6.81448 18.6353 5.37399 17.5922L4.49423 18.8071C6.18206 20.0293 8.25797 20.75 10.5 20.75V19.25Z' fill='%23666666'/%3E%3Ccircle cx='6' cy='10.5' r='1' fill='%23666666'/%3E%3Ccircle cx='10.6992' cy='10.5' r='1.5' fill='%23666666'/%3E%3Ccircle cx='15.1992' cy='10.5' r='1' fill='%23666666'/%3E%3C/svg%3E");
}

.message-typing-wrap .message-function-wrap .btn-function:last-child {
  margin-right: 0;
}

.message-typing-wrap .message-function-wrap .btn-function.active {
  background: rgba(61, 133, 247, 0.2);
  color: #3d85f7;
  border: 1.5px solid rgba(61, 133, 247, 0.2);
}

.message-typing-wrap .message-function-wrap .btn-function.active.mention .icon-box {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='21' viewBox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.96977 20.2151C10.7151 20.2151 12.2616 19.8174 13.7419 18.9779L13.1012 17.5198C12.0186 18.1384 10.6047 18.5802 9.16861 18.5802C5.03721 18.5802 1.81163 15.9733 1.81163 11.0907C1.81163 5.3686 6.07558 1.63488 10.4279 1.63488C15.0674 1.63488 17.2988 4.63953 17.2988 8.52791C17.2988 11.5767 15.5977 13.4326 14.0512 13.4326C12.7698 13.4326 12.3279 12.593 12.7698 10.7593L13.8081 5.65581H12.1733L11.864 6.67209H11.8198C11.3779 5.83256 10.693 5.45698 9.85349 5.45698C6.98139 5.45698 4.99302 8.55 4.99302 11.3116C4.99302 13.5872 6.3186 14.8907 8.08605 14.8907C9.14651 14.8907 10.3395 14.1616 11.0907 13.2116H11.157C11.3558 14.4488 12.4384 15.0895 13.8081 15.0895C16.1721 15.0895 19 12.836 19 8.43954C19 3.44651 15.7523 0 10.6267 0C4.90465 0 0 4.4186 0 11.1791C0 17.1442 4.06512 20.2151 8.96977 20.2151ZM8.59419 13.2116C7.66628 13.2116 6.9814 12.6151 6.9814 11.1791C6.9814 9.41163 8.10814 7.15814 9.89767 7.15814C10.5384 7.15814 10.9581 7.42326 11.3558 8.08605L10.693 11.864C9.89767 12.836 9.23488 13.2116 8.59419 13.2116Z' fill='%233D85F7'/%3E%3C/svg%3E");
}

.message-typing-wrap .message-function-wrap .btn-function.active.recommend .icon-box {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 19C14.7467 19 19 14.7467 19 9.5C19 4.25329 14.7467 0 9.5 0C4.25329 0 0 4.25329 0 9.5C0 11.678 0.732917 13.6848 1.96557 15.2872L1.33307 17.5009C1.20558 17.9471 1.66933 18.332 2.0844 18.1245L3.93411 17.1996C5.49827 18.3323 7.42116 19 9.5 19Z' fill='%233D85F7'/%3E%3Ccircle cx='5' cy='9.5' r='1' fill='%23D8E7FD'/%3E%3Ccircle cx='9.69922' cy='9.5' r='1.5' fill='%23D8E7FD'/%3E%3Ccircle cx='14.1992' cy='9.5' r='1' fill='%23D8E7FD'/%3E%3C/svg%3E%0A");
}

.message-send {
  height: 246px;
  margin-top: auto;
}

.message-send .input-message {
  height: 100%;
  padding: 20px 24px;
  max-height: auto;
}

.message-send .input-message .message-send-btn {
  background: url(../img/message_send.gif) no-repeat center 10px;
}

.message-send .message-send-btn {
  position: relative;
  width: 26px;
  height: 26px;
  top: 20px;
}

.message-send .message-bottom-wrap .message-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  border-radius: 50%;
}

.message-send .message-bottom-wrap .message-bottom:last-child {
  margin-right: 0;
}

.test-bubble .message-bubble {
  margin-bottom: 20px;
}

.test-bubble .test-message-area {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
  padding: 12px;
  background: #c9defc;
  border-radius: 20px;
  border: 1px solid #8cb1e9;
}

.test-bubble .test-message-area:after {
  position: absolute;
  right: -5px;
  top: -1px;
  width: 36px;
  height: 28px;
  display: block;
  clear: both;
  content: '';
  background: url("../img/tail.png") center center no-repeat;
  background-size: contain;
}

.test-bubble .test-message-bubble {
  position: relative;
  z-index: 1;
}
