// 체크박스
.companion-area-wrap {
	padding-left: 30px;
	.companion-area {
		display: flex;
		align-items: center;
	}
	.info-box {
		font-size: 14px;
		color: #777777;
		margin-top: 11px;
	}
}

.reservation-list {
	&.route-52 {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 0;
		padding: 16px 0 20px;
		.companion-box {
			display: inline-block;
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
			.leader {
				display: block;
				position: absolute;
				top: -10px;
				left: 50%;
				transform: translateX(-50%);
				width: 24px;
				height: 16px;
				background: url("../img/self/crown.png") center center no-repeat;
				background-size: 24px 16px;
                z-index: 1;
			}
			&.rank {
				.rank-box {
					display: flex;
					align-items: center;
					justify-content: center;
                    flex-direction: column;
					position: absolute;
					left: 50%;
					top: 50%;
                    width: 80%;
					z-index: 5;
					transform: translate(-50%, -50%);
                    .badge {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
					    height: 18px;
                        font-size: 11px;
                        font-weight: bold;
                        background: rgba(0, 0, 0, 0.5);
                        color: #ffffff;
                        border-radius: 6px;
                        &.before-pay {
                            background: rgba(230, 95, 62, 0.66);
                        }
                        &.checkin {
                            background: rgba(5, 170, 51, 0.66);
                        }
                        &.before-checkin {
                            background: rgba(0, 0, 0, 0.5);
                        }
                        &.county-people {
                            color: #FFE500;
                        } 
				    }
                    &.double {
                        .badge {
                            &:first-of-type {
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                            &:last-of-type {
                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                            }
                        }
                    }
			    }
		    }
        }
		.reservation-list_picture {
			display: block;
			position: relative;
			width: 61px;
			height: 61px;
			&.reservation_add {
				.btn-reservation {
					background: url('https://images.kakao.golf/web/images/locker/selfcheckin/self/btn-reservation_add.png') 0 0 no-repeat;
				}
			}
			&.reservation_del {
				.btn-reservation {
					background: url('https://images.kakao.golf/web/images/locker/selfcheckin/self/btn-reservation_del.png') 0 0 no-repeat;
				}
			}
			&.reservation_payment {
				.btn-reservation {
					background: url('../img/self/img_nonpay_member2.png') 0 0 no-repeat;
				}
			}
			.btn-reservation {
				position: absolute;
				top: -3px;
				right: -5px;
				width: 24px;
				height: 24px;
				font-size: 0;
                z-index: 1;
			}
		}
		.reservation-list_picture_t {
			overflow: hidden;
			display: block;
			border-radius: 22px;
			width: 100%;
			height: 100%;
			img {
				display: block; 
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.reservation-list_name {
			width: 100%;
			height: 14px;
			margin-top: 11px;
			text-align: center;
			font-size: 14px;
		}
		.reservation-ico_my {
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url('https://images.kakao.golf/web/images/locker/selfcheckin/self/ico_na.png') 0 0 no-repeat;
			margin-left: 3px;
			vertical-align: middle;
			font-size: 0;
		}
	}
    &.pay-companion {
        padding: 30px 0 20px;
        .reservation-list_picture, .reservation-list_picture_t, .reservation-list_picture_chk {
            &.on {
                &:after {
                    display: block;
                    clear: both;
                    content: '';
                    width: 94%;
                    height: 94%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: 2px solid #E5CE00 !important;
                    border-radius: 22px;
                }
            }
        }
        .reservation-list_picture {
            .county-badge {
                position: absolute;
                right: -6px;
                bottom: -6px;
                z-index: 1;
                width: 24px;
                height: 24px;
                background-size: 100% 100%;
            }
        }
        .reservation-list_name {
            margin-top: 8px;
        }
        .companion-box {
            &.rank {
                .rank-box {
                    color: #FFE500;
                }
            }
        }
    }
}

.input-chk-box {
	position: relative;
	height: 20px;
	font-size: 0;
	background: url("https://images.kakao.golf/webreserv/img/common/chk-ico-off.png") no-repeat;
	background-size: 20px 20px;
}
.input-radio-box {
	position: relative;
	height: 20px;
	font-size: 0;
	background: url("https://images.kakao.golf/webreserv/img/common/chk-ico-off.png") no-repeat;
	background-size: 20px 20px;
}
.input-chk-active {
	background-image: url("https://images.kakao.golf/webreserv/img/common/chk-ico-on.png");
}
.input-radio-active {
	background-image: url("https://images.kakao.golf/webreserv/img/common/chk-ico-on.png");
}