.accordion-type1, .accordion-type2 {
  position: relative;
  width: 100%;
  .accordion-box {
    position: relative;
  }
  .accordion-head {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: #f7f7f7;
    padding: 16px 20px;
    box-sizing: border-box;
    cursor: pointer;
    .icon {
      margin-left: auto;
      transform: rotate(90deg);
    }
  }
  .accordion-content {
    opacity: 0;
    display: none;
    visibility: hidden;
    position: relative;
    height: 0;
    margin: 16px 0;
    padding: 0 20px;
    box-sizing: border-box;
    transition: all 0.7s ease-in;
  }
  .accordion-item {
    font-size: 14px;
    transition: all 0.7s ease-in;
    &.active {
      .accordion-head {
        font-weight: bold;
        .icon {
          transform: rotate(-90deg);
        }
      }
      .accordion-content {
        opacity: 1;
        display: block;
        visibility: visible;
        height: 100%;
      }
    }
  }
}

.accordion-type3 {
  position: relative;
  width: 100%;
  .accordion-head {
    padding: 16px 20px;
  }
  .accordion-content {
    position: relative;
    padding: 0;
    max-height: 0px;
    border-bottom: 1px solid #eee;
    transition: max-height 0.3s linear;
    p {
      position: relative;
      padding: 16px 20px;
      margin: 0;
      transform: scale(0);
      opacity: 0;
      transition: all 0.7s ease;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .accordion-head {
    background: #c3f7ea;
  }
  input[type="checkbox"]:checked + .accordion-head + .accordion-content {
    max-height: 555px;
  }
  input[type="checkbox"]:checked + .accordion-head + .accordion-content p {
    transform: scale(1);
    opacity: 1;
  }
}