.container {
  height: 100vh;
}

#section1 {
  background: palegoldenrod;
}

#section1 .text {
  position: -webkit-sticky;
  position: sticky;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 70px;
  color: #fff;
  letter-spacing: 5px;
  border: 10px solid #fff;
  z-index: 5;
  text-transform: uppercase;
  white-space: nowrap;
  mix-blend-mode: difference;
}

#section1 .bg {
  position: relative;
  background-attachment: fixed;
}

#section1 .bg.bg1 {
  height: 50%;
  background: navy;
}

#section1 .bg.bg2 {
  height: 50%;
  background: lightpink;
}

#section2 {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: skyblue;
}

#section2 .inner-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#section2 .imgBox {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section2 .imgBox img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

#section2 .text-target {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  visibility: hidden;
}

#section2 .textBox {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#section3 {
  overflow: hidden;
  background: khaki;
}

#section4 {
  background: cornflowerblue;
}

@-webkit-keyframes up {
  from {
    visibility: hidden;
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
  to {
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes up {
  from {
    visibility: hidden;
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
  to {
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
