.container {
  height: 100vh;
}

#section1 {
  background: palegoldenrod;
}

#section1 .text {
  position: -webkit-sticky;
  position: sticky;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 70px;
  color: #fff;
  letter-spacing: 5px;
  border: 10px solid #fff;
  z-index: 5;
  text-transform: uppercase;
  white-space: nowrap;
  mix-blend-mode: difference;
}

#section1 .bg {
  position: relative;
  background-attachment: fixed;
}

#section1 .bg.bg1 {
  height: 50%;
  background: navy;
}

#section1 .bg.bg2 {
  height: 50%;
  background: lightpink;
}

#section2 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: skyblue;
}

#section2 .circle {
  position: relative;
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#section2 .circle img {
  display: block;
  width: 100%;
  height: auto;
}

#section2 .textBox {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#section3 {
  overflow: hidden;
  background: khaki;
}

#section4 {
  background: cornflowerblue;
}

@-webkit-keyframes up {
  from {
    visibility: hidden;
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
  to {
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes up {
  from {
    visibility: hidden;
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
  to {
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
