.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 5;
}

.tab-menu-wrap {
  position: relative;
  width: 100%;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  background: #ffffff;
}

.tab-menu-wrap .scrolling-tab-area {
  overflow-x: scroll;
  position: relative;
  width: 100%;
}

.tab-menu-wrap .scrolling-tab-area .tab {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: normal;
}

.tab-menu-wrap .scrolling-tab-area .tab .tab-item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 10px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab-menu-wrap .scrolling-tab-area .tab .tab-item span {
  display: block;
  font-size: 15px;
}

.tab-menu-wrap .scrolling-tab-area .tab .tab-item:after {
  display: none;
}

.tab-menu-wrap .scrolling-tab-area .tab .tab-item.active_tab:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  clear: both;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
}

.tab-menu-wrap .scrolling-tab-area::-webkit-scrollbar {
  display: none;
}

.tab-menu-wrap.type2 {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.tab-menu-wrap.type2 .scrolling-tab-area .tab {
  width: 100%;
}

.tab-menu-wrap.type2 .scrolling-tab-area .tab .tab-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 10px 0;
  text-align: center;
  padding: 0 10px;
}
