input[type="date"] {
  position: relative;
  border: 1px solid #1F4690;
  padding-left: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
          appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) center center no-repeat #3A5BA0;
  width: 45px;
  height: 45px;
  border-width: thin;
  cursor: pointer;
}

.calendar-select-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.now-month {
  background: #ddd;
}

.now-day {
  background: #999;
}

td {
  border: 1px solid #000;
  vertical-align: middle;
  font-family: monospace;
  padding: 1em;
}
